body{

background-image: url(assets/fondo1.jpg);
background-position: center;
background-size: cover;
background-attachment: fixed;



}



img {
    position: absolute;
    top: 25px;
    left: 25px;
  }
  .superponer {
      position: absolute;
    z-index: 3;
    margin-top: 210px;
    margin-left: 145px;
  }
  .pokedex {
    z-index: 1;
    
  }  
  .btn{
    z-index: 5;
margin-top: -115px;
margin-left: -80px;

display: block;
width: 70px;
height: 70px;
border-radius: 50%;
color: white;
background-color: black;

  }

  .input{

margin-top: 410px;
margin-left: -10px;

background-color: white;

width: 130px;

  }
  ::placeholder { color: black  ; }